@media all {
    .container-fluid {
        max-width: 99%;
    }
}

body {
    font-family: "Lucida Console", Courier, monospace;
    padding-top: 70px;
    color: #1f2e35;
    background: #1e2b35;
}

::-moz-selection {
    background: #abbfcf;
    color: #283438;
}
::selection {
    background: #abbfcf;
    color: #283438;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 500;
    color: #283438;
}

/* flash messages - begin */
.flash-message {
    position: relative;
    padding: 0.4rem 1.25rem;
    margin-bottom: 5px;
    background-color: none;
    border: none;
    border-radius: 0.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.flash-message-danger {
    color: #dd4747;
}

.flash-message-info {
    color: #46adcc;
}

.flash-message-success {
    color: #46cc58;
}

.flash-message-warning {
    color: #c5b736;
}
/* flash messages - end */

button, a.btn {
    border-radius: 0.5rem;
}

button.back-btn, a.back-btn {
    background-color: #abbfcf;
    border: none;
    color: #303c41;
    border-radius: 0.5rem;
}

button.back-btn:hover, a.back-btn:hover {
    background-color: rgb(159, 187, 177);
    transition: 0.5s;
}

input.default-input {
    background-color: #303741;
    border: 1px solid #18C29C;
    color: #88F9D4;
    border-radius: .3rem;
}
input.default-input:focus {
    background-color: #262f33;
    border: 1px solid #18C29C;
    color: #88F9D4;
    border-radius: .3rem;
}

label.default-input {
    font-weight: 600;
    margin-bottom: .1rem;
    color: #18C29C;
}

button.default-button, a.default-button {
    background-image: linear-gradient( 90deg, #126872, #0B877D);
    border: none;
    color: #d8f1ee;
    border-radius: 0.5rem;
}
button.default-button:hover, a.default-button:hover {
    background-image: linear-gradient( 90deg, #0f5961, rgb(8, 116, 107));
    border: none;
    transition: 0.5s;
    color: #dddbdb;
}

button.default-button-danger, a.default-button-danger {
    background-image: linear-gradient( 90deg, #d62f2f, #d43c3c);
    border: none;
    color: #d8f1ee;
    border-radius: 0.5rem;
}
button.default-button-danger:hover, a.default-button-danger:hover {
    background-image: linear-gradient( 90deg, #d62f2f, #d14d4d);
    border: none;
    transition: 0.5s;
    color: #dddbdb;
}

.jumbotron {
    background-image: linear-gradient( 90deg, #18C29C, #88F9D4 );
    padding: 3rem 3rem 1rem 2rem;
    border-radius: 0.5rem; 
    border: none;
}

button.form-auth, a.form-auth {
    background-image: linear-gradient( 90deg, #18C29C, rgb(3, 158, 145));
    border: none;
    /* color: #91aa9a; */
    color: #dee2e6;
    border-radius: 0.5rem;
}
button.form-auth:hover, a.form-auth:hover {
    background-image: linear-gradient( 90deg, rgb(15, 172, 138), rgb(3, 158, 145));
    border: none;
    transition: 0.5s;
    color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #dee2e6;
    background-color: #485561;
    border: 1px solid #515f6d; 
}
.page-link:hover {
    z-index: 2;
    color: #dee2e6;
    text-decoration: none;
    background-color: #536270;
    border-color: #576775; 
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.15rem rgb(15, 172, 138);
            box-shadow: 0 0 0 0.15rem rgb(15, 172, 138); 
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(15, 172, 138);
    border-color: rgb(15, 172, 138); 
}


/* series - index */
.series-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    list-style: none;
    padding: 16px 0 64px 0;
}

.series-grid li {
    background: none;
    display: flex;
    flex-direction: column;
    border: 2px solid #1e4853;
    width: 100%;
    max-width: 950px;
    border-radius: 8px;
    padding: 10px 10px 0 10px;
}

.series-grid li img {
    width: 100%;
    max-height: 200px;
    max-width: 350px;
    border-radius: 8px;
    border: 1px solid rgba(225, 225, 226, 0.5);
    margin-bottom: 10px;
}

/* temporadas - begin */
.list-group-item.temporadas {
    background-color: #b2e0f5;
    border: 1px solid #5597b6;
    color: #01283a;
}

.list-group-item.temporadas > a {
    color: #01283a;
}

.list-group-item.temporadas > a:hover {
    color: #1f5168;
}

.jumbotron.temporadas {
    background-color: #b2e0f5;
    border: none;
}
/* temporadas - end */

/* episodios - begin */
.list-group-item.episodios {
    background-color: #f5cbb2;
    border: 1px solid #aa683d;
    color: #3a1b01;
}

.list-group-item.episodios > a {
    color: #01283a;
}

.list-group-item.episodios > a:hover {
    color: #683a1f;
}

button.episodios, a.episodios {
    background-color: #a75f30;
    border: none;
    /* color: #dee2e6; */
    color: #f5f5f5;
    border-radius: 0.5rem;
}
button.episodios:hover, a.episodios:hover {
    background-color: #914e22;
    border: none;
    transition: 0.9s;
    /* color: #bdc3c9; */
    color: #bdc3c9;
}

.jumbotron.episodios {
    background-color: #f5cbb2;
    border: none;
}
/* episodios - end */



.table-card {
    width: 100%;
    height: 100%;
    border: 7px solid transparent;
}
tr:nth-child(even).log-row {
    background: #12687235;
}
tr:nth-child(odd).log-row {
    background: #18C29C35;
}
.td-date {
    color: #7ed0da;
}
.td-action {
    color: rgb(173, 216, 207);
}
