@media all {
    .container-fluid {
        max-width: 99%;
    }
}

body {
    font-family: "Lucida Console", Courier, monospace;
    padding-top: 68px;
    color: #1f2e35;
    background: #303c41;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 500;
    color: #283438;
}

button, a.btn {
    border-radius: 6px;
}

.bg-primary {
    background-color: #abbfcf !important;
    border-top-width: 5px;
    border-style: none none solid none;
    border-image-source: linear-gradient( 180deg, #303841, #303841 ) !important;
    border-image-slice: 1;
}

.jumbotron {
    background-color: #f1e3fd;
    padding: 3rem 3rem 1rem 2rem;
    border: none;
}

.navbar-user {
    display: flex; 
    flex-direction: row; 
    flex-grow: 0; 
    align-self: flex-end
}

@media (min-width: 992px) {
    ul .navbar-nav {
        display: flex; 
        flex-direction: row; 
        align-content: space-between;
        align-content: center;
    }

    .navbar-cont {
        display: flex; 
        flex-direction: row; 
        flex-grow: 1; 
        align-self: flex-start;
    }
}

@media (max-width: 991px) {

}

/* series - index */
.list-group-item {
    background-color: #f8dce9;
    border: 1px solid #cf81a5;
    color: #410320;
}

.list-group-item > a {
    color: #410320;
}

.list-group-item > a:hover {
    color: #812852
}

/* login */
.form-group > input.form-auth {
    background-color: #303c41;
    border: 1px solid #36a148;
    color: #ade9b8;
    border-radius: .3rem;
}
.form-group > input.form-auth:focus {
    background-color: #262f33;
    border: 1px solid #36a148;
    color: #ade9b8;
    border-radius: .3rem;
}

.form-group > label.form-auth {
    font-weight: 600;
    margin-bottom: .1rem;
    color: #50b160;
}

button.form-auth, a.form-auth {
    background-color: #50b160;
    border: none;
    color: #dee2e6;
    border-radius: 6px;
}
button.form-auth:hover, a.form-auth:hover {
    background-color: #429b51;
    border: none;
    transition: 0.9s;
    color: #dee2e6;
}

.jumbotron.form-auth {
    background-color: #bce4c3;
    border: none;
}

/* register */
.form-group > input.form-register {
    background-color: #303c41;
    border: 1px solid #a19136;
    color: #dfd5a7;
    border-radius: .3rem;
}
.form-group > input.form-register:focus {
    background-color: #262f33;
    border: 1px solid #a19136;
    color: #dfd5a7;
    border-radius: .3rem;
}

.form-group > label.form-register {
    font-weight: 600;
    margin-bottom: .1rem;
    color: #b1a750;
}

button.form-register, a.form-register {
    background-color: #bdb35a;
    border: none;
    color: #2a2a2b;
    border-radius: 6px;
}
button.form-register:hover, a.form-register:hover {
    background-color: #b1a750;
    border: none;
    transition: 0.9s;
    color: #2a2a2b;
}

.jumbotron.form-register {
    background-color: #e4ddbc;
    border: none;
}












.wrapper {
    padding: 100px 12px 0 12px;
}

/* .table-responsive[data-pattern="priority-columns"] {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border-radius: 3px;
    border: 0px solid #303841 !important;
    -webkit-overflow-scrolling: touch;
} */
#arrow-div {
    display: flex;
    align-items: end;
}

.table td, .table th {
    padding: .2rem;
    vertical-align: top;
    border-top: 1px solid #485561;
}

.table tr:hover, .table tr:hover {
    color: #FFF;
}

.table th {
    color: rgb(219, 219, 219);
}

.table th a {
    display: inline-flex;
    text-decoration: none;
    color: rgb(219, 219, 219);
}

.table th a:hover {
    color: #9ea0a3;
}

.dataTables_scrollBody #datatable #automation-table tr {
    line-height: 1.5 !important;
}

.w-90 {
    max-width: 90%;
}

.width-150 {
    width: 150px;
}

.max-width-150 {
    max-width: 150px;
}

.min-width-150 {
    min-width: 150px;
}

.min-width-100 {
    min-width: 100px;
}

.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: .25rem;
    font-size: .75rem;
    color: #f1556c;
}

.dataTables_filter {
    float: left !important;
    /* display: none; */
 }

/* components.maquinas ------------------------------*/
@media(min-width: 1442px){
    #cards-set-embarcado {
        max-width: 30% !important;
    }
    #serviceList {
        min-width: 70% !important;
    }
    .cards-set {
        display: inline-block;
        width: 100%;
    }
}
.card-span {
    display: flex;
}
.card-p {
    width: 105px;
    /* text-align: right; */
}


/* Datatable-----------------------------------------*/
.table {
    width: 100%!important;
}

.table td{
    padding: 0.1rem;
    vertical-align: middle;
}


/* Botão dentro de TD de Table */
.btn-group-sm > .btn, .btn-sm {
    margin: 0.1rem;
    padding: .20rem .6rem;
    font-size: .875rem;
    line-height: 1.2;
    border-radius: .15rem;
}

.dataTables_scrollBody #datatable #automation-table tr {
    line-height: 2.8rem;
}


/* Select2 ------------------------------------------*/
.select2 {
    width: 100%!important;
}

/* Atendimento ---------------------------------------*/
#service-activity {
    height: auto;
    /* height: 100%; */
}


/* Cores   -------------------------------------------*/
.bg-info-dark {
    background-color: #3f9eb4;
}

.bg-warning-dark {
    background-color: #DB70DB;
}

/* Show Maquina Timeline -----------------------------*/
#headingOne span,  #headingOne a{
    font-size: 13px;
}

/* Botões --------------------------------------------*/
#showServiceIndexInMachineShow, #createServiceFormInMachineShow, #removeServiceFormFromMachineShow {
    padding-right: 5px;
    padding-left: 5px;
}

.filter-button {
    width: 150px;
}
