@media all {
    .container-fluid {
        max-width: 99%;
    }
}

body {
    font-family: "Lucida Console", Courier, monospace;
    padding-top: 60px;
    color: #1f2e35;
    background: #303741;
}

::-moz-selection {
    background: #abbfcf;
    color: #283438;
}
::selection {
    background: #abbfcf;
    color: #283438;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: 500;
    color: #283438;
}

button, a.btn {
    border-radius: 0.5rem;
}

button.back-btn, a.back-btn {
    background-color: #abbfcf;
    border: none;
    color: #303c41;
    border-radius: 0.5rem;
}

button.back-btn:hover, a.back-btn:hover {
    background-color: rgb(159, 187, 177);
    transition: 0.5s;
}

input.default-input {
    background-color: #303741;
    border: 1px solid #18C29C;
    color: #88F9D4;
    border-radius: .3rem;
}
input.default-input:focus {
    background-color: #262f33;
    border: 1px solid #18C29C;
    color: #88F9D4;
    border-radius: .3rem;
}

label.default-input {
    font-weight: 600;
    margin-bottom: .1rem;
    color: #18C29C;
}

button.default-button, a.default-button {
    background-image: linear-gradient( 90deg, #126872, #0B877D);
    border: none;
    color: #d8f1ee;
    border-radius: 0.5rem;
}
button.default-button:hover, a.default-button:hover {
    background-image: linear-gradient( 90deg, #0f5961, rgb(8, 116, 107));
    border: none;
    transition: 0.5s;
    color: #dddbdb;
}

.jumbotron {
    background-image: linear-gradient( 90deg, #18C29C, #88F9D4 );
    padding: 3rem 3rem 1rem 2rem;
    border-radius: 0.5rem; 
    border: none;
}

button.form-auth, a.form-auth {
    background-image: linear-gradient( 90deg, #18C29C, rgb(3, 158, 145));
    border: none;
    color: #91aa9a;
    border-radius: 0.5rem;
}
button.form-auth:hover, a.form-auth:hover {
    background-image: linear-gradient( 90deg, rgb(15, 172, 138), rgb(3, 158, 145));
    border: none;
    transition: 0.5s;
    color: #dee2e6;
}

/* series - index */
.list-group-item.series {
    background-color: #f8dce9;
    border: 1px solid #cf81a5;
    color: #410320;
}

.list-group-item.series > a {
    color: #410320;
}

.list-group-item.series > a:hover {
    color: #812852
}

/* series create - begin */
.form-group > input.series {
    background-color: #303c41;
    border: 1px solid #cf81a5;
    color: #ffd0e6;
    border-radius: .3rem;
}
.form-group > input.series:focus {
    background-color: #262f33;
    border: 1px solid #cf81a5;
    color: #ffd0e6;
    border-radius: .3rem;
}

.form-group > label.series {
    font-weight: 600;
    margin-bottom: .1rem;
    color: #cf81a5;
}

button.series, a.series {
    background-color: #cf81a5;
    border: none;
    color: #dee2e6;
    border-radius: 0.5rem;
}
button.series:hover, a.series:hover {
    background-color: #a35579;
    border: none;
    transition: 0.9s;
    color: #bdc3c9;
}

.jumbotron.series {
    background-color: #f8dce9;
    border: none;
}

/* input number spinners - begin */
input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.arrows-qtd {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    cursor: pointer;
    height: 10px;
    border-left: 1px solid #cf81a5;
    width: 20px;
    text-align: center;
    color: #cf81a5;
    font-size: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.quantity-button.arrows-up {
    position: absolute;
    height: 40%;
    top: 2px;
    border-bottom: 1px solid #cf81a5;
}

.quantity-button.arrows-down {
    position: absolute;
    bottom: 6px;
    height: 40%;
}
/* input number spinners - end */
/* series create - end */

/* login - begin */


button.form-auth, a.form-auth {
    background-color: #50b160;
    border: none;
    color: #dee2e6;
    border-radius: 0.5rem;
}
button.form-auth:hover, a.form-auth:hover {
    background-color: #429b51;
    border: none;
    transition: 0.9s;
    color: #dee2e6;
}

.jumbotron.form-auth {
    background-color: #bce4c3;
    border: none;
}
/* login - end */

/* register - begin */
.form-group > input.form-register {
    background-color: #303c41;
    border: 1px solid #a19136;
    color: #dfd5a7;
    border-radius: .3rem;
}
.form-group > input.form-register:focus {
    background-color: #262f33;
    border: 1px solid #a19136;
    color: #dfd5a7;
    border-radius: .3rem;
}

.form-group > label.form-register {
    font-weight: 600;
    margin-bottom: .1rem;
    color: #b1a750;
}

button.form-register, a.form-register {
    background-color: #bdb35a;
    border: none;
    color: #2a2a2b;
    border-radius: 0.5rem;
}
button.form-register:hover, a.form-register:hover {
    background-color: #b1a750;
    border: none;
    transition: 0.9s;
    color: #2a2a2b;
}

.jumbotron.form-register {
    background-color: #e4ddbc;
    border: none;
}
/* register - end */

/* temporadas - begin */
.list-group-item.temporadas {
    background-color: #b2e0f5;
    border: 1px solid #5597b6;
    color: #01283a;
}

.list-group-item.temporadas > a {
    color: #01283a;
}

.list-group-item.temporadas > a:hover {
    color: #1f5168;
}

.jumbotron.temporadas {
    background-color: #b2e0f5;
    border: none;
}
/* temporadas - end */

/* episodios - begin */
.list-group-item.episodios {
    background-color: #f5cbb2;
    border: 1px solid #aa683d;
    color: #3a1b01;
}

.list-group-item.episodios > a {
    color: #01283a;
}

.list-group-item.episodios > a:hover {
    color: #683a1f;
}

button.episodios, a.episodios {
    background-color: #a75f30;
    border: none;
    /* color: #dee2e6; */
    color: #f5f5f5;
    border-radius: 0.5rem;
}
button.episodios:hover, a.episodios:hover {
    background-color: #914e22;
    border: none;
    transition: 0.9s;
    /* color: #bdc3c9; */
    color: #bdc3c9;
}

.jumbotron.episodios {
    background-color: #f5cbb2;
    border: none;
}
/* episodios - end */

/* flash messages - begin */
.flash-message {
    position: relative;
    padding: 0.4rem 1.25rem;
    margin-bottom: 5px;
    background-color: none;
    border: none;
    border-radius: 0.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.flash-message-danger {
    color: #dd4747;
}

.flash-message-info {
    color: #46adcc;
}

.flash-message-success {
    color: #46cc58;
}

.flash-message-warning {
    color: #c5b736;
}
/* flash messages - end */

.table-card {
    width: 100%;
    height: 100%;
    border: 7px solid transparent;
}
tr:nth-child(even).log-row {
    background: #12687235;
}
tr:nth-child(odd).log-row {
    background: #18C29C35;
}
.td-date {
    color: #7ed0da;
}
.td-action {
    color: rgb(173, 216, 207);
}
