.navbar {
    background-image: linear-gradient( 90deg, #307077, #0c1f2e );
    border-top-width: 3px;
    border-style: none none solid none;
    border-color: #1e2b35;
    border-image-slice: 1;
}

ul.navbar-nav {
    display: flex; 
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
}

span.navbar-cont {
    display: flex; 
    flex-direction: row; 
}

span.navbar-guest {
    display: flex; 
    align-self: center;
}

.brand-circle {
    background-color: none;
    width: 50px;
    height: 50px;
    position: relative;
}

.brand-circle img {
    width: 100%;
    width:"50";
    height:"50";
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {

    ul.navbar-nav {
        display: flex; 
        flex-direction: column; 
        width: 100%;
    }

    span.navbar-cont {
        display: flex; 
        flex-direction: column; 
    }

    span.navbar-user {
        margin-right: -10px;
        display: flex; 
        justify-content: flex-end;
    }

    span.navbar-guest {
        display: flex; 
        flex-direction: column-reverse;
    }
}
