.avatar-widget {
    height: 4rem;
    width: 4rem; 
}

.card-box-without-shadow {
    background-color: #18232b;
    padding: 1.5rem;
    /* -webkit-box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
            box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03); */
    margin-bottom: 24px;
    border-radius: 0.25rem; 
}

.avatar-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; 
}

@media (min-width: 1200px) {
    .corner-box-border-1 {
        border-radius: 2rem 0 0 2rem;
    }
    
    .corner-box-border-2 {
        border-radius: 0 0 0 0;
    }
    
    .corner-box-border-3 {
        border-radius: 0 0 0 0;
    }
    
    .corner-box-border-4 {
        border-radius: 0 2rem 2rem 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .corner-box-border-1 {
        border-radius: 2rem 0 0 0;
    }
    
    .corner-box-border-2 {
        border-radius: 0 2rem 0 0;
    }
    
    .corner-box-border-3 {
        border-radius: 0 0 0 2rem;
    }
    
    .corner-box-border-4 {
        border-radius: 0 0 2rem 0;
    }
}

@media (max-width: 767px) {
    .corner-box-border-1 {
        border-radius: 2rem 2rem 0 0;
    }
    
    .corner-box-border-2 {
        border-radius: 0 0 0 0;
    }
    
    .corner-box-border-3 {
        border-radius: 0 0 0 0;
    }
    
    .corner-box-border-4 {
        border-radius: 0 0 2rem 2rem;
    }
}
